.savedGigs {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 100%;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h1 {
        color: #323232;
        font-weight: 300;
      }
    }

    table {
      width: 100%;

      tr {
        height: 50px;

        th {
          text-align: left;
        }
        
        td {
          height: 50px;

          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .link {
            text-decoration: none;
            color: #0d084d;
            font-weight: 500;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .skeleton-orders {
      width: 100%;
    }

    .error {
      width: 100%;
      text-align: center;
      padding: 50px;
      color: #ff0000;
      font-size: 18px;
    }

    .empty {
      width: 100%;
      text-align: center;
      padding: 50px;

      img {
        width: 200px;
        margin-bottom: 20px;
      }

      h3 {
        color: #323232;
        font-weight: 300;
        margin-bottom: 10px;
      }

      p {
        color: #999;
        font-weight: 300;
      }
    }
  }
}